body{
    background-color: #070c09;
    background-image: linear-gradient(184deg, #0a100d, #070c09 30%);
    background-repeat: no-repeat;
    margin:0; padding: 0;
    font-size: 14px;
    /* 0a120d */
}

main > *{
    padding: 3rem 2rem;
    justify-content: space-around;
}

main .element{
    /* border: 1px solid red; */
    margin-bottom: 1rem;
    width: 45%;
}

main .element img{
    width: auto;
    height: auto;
    max-height: 40rem;
    max-width: 48rem;
}

main .element h3, main .element > span{
    line-height: 1.5;
    color: white;
}

main .element > span{
    line-height: 1.5;
}

main .element .element-btn{
    display: block;
    background-color: teal;
    color: white;
    border-radius: 5vh;
    border: none;
    margin-top: 3rem;
    width: auto;
    max-width: 22rem;
    padding: 1.5rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.2s linear;
}

main .element .element-btn:hover{
    border: 2px solid orange;
    transform: scale(1.05);
    cursor: pointer;
}

main .element .b.element-btn:not(:hover){
    animation: bounce 2.5s ease-out 10s infinite backwards normal;
}

header{
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: transparent;
    background-image: none;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

header h2{
    margin: 0;
}

header nav > *{
    display: inline-block;
    margin: 0.4rem 1.3rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

header img#logo{
    width: auto;
    max-height: 3rem;
}

.phone, .phone *{
    box-sizing: border-box;
    background-color: #eaeaea;
}

.gadget-wrapper{
    width: 45%;
    align-items: center;
}

.gadget-wrapper .phone{
    width: 93%;
    height: 40vh;
    min-width: 250px;
    min-height: 33rem;
    max-height: 33rem;
    box-shadow: 0px 3px 7px #464646;
    border-radius: 1rem;
    border: 1px solid #e5e5e5;
    padding: 7px;
}

.gadget-wrapper .gadget-bottom{
    width: 100%;
    height: 2.5rem;
    background-color: #ececec;
    border-radius: 4px 4px 9px 9px;
    margin-top: 2px;
}

.gadget-wrapper .gadget-bottom span{
    width: 0.5rem;
    height: 0.5rem;
    background-color: #b3b3b3;
    border-radius: 50%;
    margin: 0.5rem;
}

.phone-top, .phone-bottom, .phone-screen{
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.phone-top{
    height: 9%;
}

.phone-top span:first-child, .phone-top span:last-child{
    width: 0.7rem;
    height: 0.7rem;
    background-color: #b3b3b3;
    border-radius: 50%;
}

.phone-top span:nth-child(2){
    width: 30%;
    height: 0.7rem;
    background-color: #929292;
    border-radius: 5px;
}

.phone-screen{
    justify-content: space-between;
    height: 82%;
    border: 1px solid #b1b1b1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(92, 41, 0);
    background-image: url("../assets/images/dariusz-57167-unsplash.jpg");
}

.phone-screen > *{
    width: 100%;
}

video.phone-screen{
    background-image: none;
    background-color: black;
}

.phone-bottom{
    padding: 0 1rem;
    height: 9%;
}

.phone-bottom span{
    color: rgb(179, 179, 179);
}

#chat-form .chat-form-screen{
    /* border: 1px solid salmon; */
    height: 90%;
    min-height: 100px;
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: transparent;
}

#chat-form .chat-form-screen .chat-wrapper, #login-form .chat-form-screen .notice-wrapper{
    height: auto;
    padding: 0 2%;
    width: 100%;
    background-color: transparent;
    margin: 3px 0;
}

#chat-form .chat-wrapper .chat, #login-form .notice-wrapper .notice{
    width: auto;
    max-width: 60%;
    background-color: #56c956;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    position: relative;
}

#chat-form .chat-wrapper .chat .blink{
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.5rem;
    background-color: #797979;
    border-radius: 50%;
}

#chat-form .chat-wrapper .chat .blink:first-child{
    animation: typing1 0.8s ease 0s infinite forwards normal;
}

#chat-form .chat-wrapper .chat .blink:nth-child(2){
    animation: typing2 0.8s ease 0s infinite forwards normal;
}

#chat-form .chat-wrapper .chat .blink:nth-child(3){
    animation: typing3 0.8s ease 0s infinite forwards normal;
}

#chat-form .chat-wrapper .neutral-chat, #login-form .notice-wrapper .neutral-notice{
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-bottom: 1rem;
    background-color: #080a0e;
}

#chat-form .chat-wrapper .reply-chat{
    background-color: white;
    float: left;
}

#chat-form .chat-wrapper .sent-chat{
    background-color: rgb(86, 201, 86);
    float: right;
}

#chat-form .chat-form-controls{
    padding: 0 1rem;
    align-items: center;
    background-color: transparent;
}

#chat-form .chat-form-controls input[type="text"]{
    width: 90%;
    background-color: #ececec;
}

#chat-form .chat-form-controls button.login-btn{
    color: white;
    font-size: 1.5rem;
    background-color: #12b854;
    margin-left: 0.9rem;
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#chat-form button i, #login-form button i{
    background-color: transparent;
}

#login-form-screen, #login-form-screen label, #login-form .login-form-controls{ 
    background-color: transparent;
}

#login-form.phone-screen{
    height: 81%;
}

#login-form .login-form-controls{
    padding: 1rem;
    justify-content: center;
}

#login-form .login-form-controls button.login-btn{
    color: white;
    font-size: 1.5rem;
    background-color: #00a040;
    width: auto;
    max-width: 22rem;
    padding: 1rem 3rem;
    border: none;
    border-radius: 5vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

#login-form-screen{
    height: 90%;
    min-height: 100px;
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: transparent;
}

#login-form-screen .form-line{
    margin: 1rem 2rem;
    background-color: transparent;
}

#login-form-screen .form-line label{
    text-shadow: 1px 1px 0 rgb(54, 54, 54);
    font-weight: 400;
    color: white;
}

#slider{
    margin-left: 1rem;
    overflow: hidden;
    /* border: 1px solid salmon; */
    width: 100%
}

#slider .slide{
    margin-bottom: 2rem;
}

#slider .slide.js-enabled{
    opacity: 0;
    position: absolute;
    margin-bottom: initial;
}

#slider .slide.js-enabled *{
    display: inline-block;
    line-height: 1.5;
    /* border: 1px solid rgb(255, 25, 0); */
    max-width: 30vw;
}

#slider .slide *{
    color: white;
}

#slider .slide h3{
    margin-top: 0;
    font-size: 1.9rem;
    font-weight: 500;
}

#slider .slide.js-enabled h3, main .element h3{
    font-size: 3rem;
    font-weight: 500;
}

.welcome{
    width: 85%;
    padding: 6px 10px;
    /* background-color: #3ca4e9; */
    margin:4% auto;
    border-radius: 5px;
    /* font-family: cursive; */
    box-sizing: border-box;
}

#welcome{
    text-align: center;
    line-height: 1.5;
    color:#c8ffc8;
}

#main-container{
    width: 80%;
    padding: 6px 0;
    background-color: transparent;
    margin:5% auto;
    border-radius: 5px;
}

img#avatar{
    width: 10vw;
    height: auto;
    object-fit: contain;
}

.label {
	color: white;
}

label.label+input {
	margin-top: 8px;
	margin-bottom: 3rem;
}

input[name="username"]+button{
    display: flex;
    margin-top: 5px;
    margin-bottom:2rem;
    font-size: 1.2rem;

    border: none;
    background-color: transparent;
    color: #c8ffc8;
}

input[name="username"]+button > *{
    opacity: 0;
}

input[name="username"]+button i{
    display: block;
    margin-right: 3px;
}

input[name="username"]+button i[class="icofont-refresh"]{
    animation: rolling 1.5s linear 0s infinite normal forwards;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.serror{
    width:100%;
    color: rgb(233, 33, 51); 
    height:auto;
    padding: 6px 1rem;
    margin:2rem auto;
    border-radius: 5px;
    box-sizing:border-box;
    border: 2px solid rgba(233, 23, 41, 0.5);
    /*background-color: rgba(233, 23, 41, 0.5);*/
}

input:not([type="submit"]){
    font-size: 0.9em;
    width:100%;
    margin: 10px auto;
    height:auto;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
}

input[name="username"]{
    margin-bottom: 0 !important;
}

input[type="submit"]{
    /* display: block; */
    background-color: #3c674a;
    color:white;
    width:100%;
    margin: 1.5rem 0 10px auto;
    height:auto;
    padding: 1.5rem 10px;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 2px 3px rgba(71, 71, 71, 0.534);
    /* border-radius: 5px; */
}

input[type="submit"]:disabled{
    opacity: 0.5;
}

input[type="submit"]:not([disabled]):hover{
    cursor: pointer;
    transform-origin: center;
    transform: scale(0.95, 0.98);
    box-shadow: 0 1px 2px rgba(71, 71, 71, 0.322);
}

@-webkit-keyframes bounce{
    0%{
        transform-origin: center;
        transform: rotateZ(0deg) translateY(0);
    }

    20%{
        transform-origin: center;
        transform: rotateZ(0deg) translateY(-10px);
    }

    25%{
        transform-origin: center;
        transform: rotateZ(8deg) translateY(-10px);
    }

    30%{
        transform-origin: center;
        transform: rotateZ(-8deg) translateY(-10px);
    }

    35%{
        transform-origin: center;
        transform: rotateZ(8deg) translateY(-10px);
    }

    40%{
        transform-origin: center;
        transform: rotateZ(-8deg) translateY(-10px);
    }

    55%{
        transform-origin: center;
        transform: rotateZ(0deg) translateY(5px);
    }

    65%{
        transform-origin: center;
        transform: rotateZ(0deg) translateY(0);
    }

    100%{
        transform-origin: center;
        transform: rotateZ(0deg) translateY(0);
    }
}

@keyframes bounce{
    0%{
        transform-origin: center;
        transform: rotateZ(0deg) translateY(0);
    }

    20%{
        transform-origin: center;
        transform: rotateZ(0deg) translateY(-10px);
    }

    23%{
        transform-origin: center;
        transform: rotateZ(8deg) translateY(-10px);
    }

    26%{
        transform-origin: center;
        transform: rotateZ(-8deg) translateY(-10px);
    }

    29%{
        transform-origin: center;
        transform: rotateZ(8deg) translateY(-10px);
    }

    32%{
        transform-origin: center;
        transform: rotateZ(-8deg) translateY(-10px);
    }

    40%{
        transform-origin: center;
        transform: rotateZ(0deg) translateY(10px);
    }

    55%{
        transform-origin: center;
        transform: rotateZ(0deg) translateY(0);
    }

    100%{
        transform-origin: center;
        transform: rotateZ(0deg) translateY(0);
    }
}

@keyframes typing1{
    0%{
        opacity: 1;
    }

    16.665%{
        opacity: 0;
    }

    33.33%, 100%{
        opacity: 1;
    }
}

@keyframes typing2{
    0%, 33.33%{
        opacity: 1;
    }

    49.995%{
        opacity: 0;
    }

    66.66%, 100%{
        opacity: 1;
    }
}

@keyframes typing3{
    0%, 66.66%{
        opacity: 1;
    }

    83.325%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

/* For mobile phones */
@media only screen and (max-width:800px){
    header{
        flex-direction: column !important;
        margin-bottom: 0;
        margin-top: 0.5rem;
        padding-left: 0;
        padding-right: 0;
    }

    header nav{
        position: sticky;
        top: 0;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2rem auto 0.5rem auto;
        padding: 1rem;
        background-color: #0caa4b;
        border-radius: 0 0 10px 10px;
    }

    header nav > *{
        font-size: 1.3rem;
    }
    
    main > *{
        flex-direction: column !important;
    }

    main #intro{
        display: none;
    }

    main .element{
        width: 90%;
        margin: auto;
    }

    main .element div.sections{
        flex-direction: column !important;
        align-items: center;
    }

    main .element img{
        max-width: 90vw;
    }

    main .element .element-btn{
        width: auto;
        max-width: 26rem;
    }

    main .phone-section{
    	width:100%;
    }

    main .gadget-wrapper{
        width: 85%;
        margin: auto;
    }

    .gadget-wrapper .phone{
        width: 100%;
        height: 105vw;
        min-width: unset;
        min-height: unset;
        max-width: 400px;
        max-height: 600px;
        border-radius: 10px;
    }

    .gadget-wrapper .phone-top{
        height: 15%;
    }

    .phone-screen, #login-form.phone-screen{
        height: 74%;
    }

    .gadget-bottom .phone-bottom{
        padding: 0 1rem;
        height: 11%;
    }
    
    .gadget-wrapper .gadget-bottom{
        display: none;
    }

    #chat-form .chat-wrapper .chat{
        max-width: 65%;
    }
}