*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

html{
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body{
    background-color: #d4d0d0;
	margin:0; padding: 0;
	min-height: 500px;
	max-height: 100vh !important;
}

button{
    cursor: pointer;
	outline: none;
}

.custom-notify{
	z-index:+200;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: auto;
	max-width:85%;
	height: auto;
	max-height:18em;
	padding: 2.5rem;
	margin:0.8rem;
	border-radius: 8px;
	background-color: rgba(10, 10, 10, 0.85);
	position: fixed;
	font-size: 1.6rem;
	/* top: 78vh; */
	color: #eee;
}

.custom-notify button{
	margin: 0 0.5rem;
}

.backbutton{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:3rem;
    height: 60%;
    font-size: 6rem;
    margin: auto 5px;
	border-radius: 50%;
	transition: all 0.3s ease-in;
}

.backbutton:hover{
	width:5rem;
	height: 100%;
	background-color:  rgba(82, 139, 139, 0.5);
	border-radius: 10px;
}

#login-container{
	width: 100%;
    height: auto;
    background-color: #1e1e1e;
    /* border-radius: 5px; */
}

#main-container{
    width: 100%;
    height: 94%;
	background-color: #1e1e1e;
	/* overflow: hidden; */
}

header{
    width:100%;
    height:auto;
    align-items: center;
    background-image:  linear-gradient(#439755, #479b59); 
	box-sizing:border-box;
	color: #eee;
}

header nav .active{
    padding-bottom: 0.5rem;
    border-bottom: 2px solid white;
}

 .header{
    display: flex;
    flex-direction: row;
}

footer.foot_note{
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    text-align: center;
    padding: 1em;
    color: #ccc;
    box-sizing: border-box;
    background-image:  linear-gradient(#479b59, #479b59); /*#204c55; */
    border-top:1px solid #429754;
    height: auto;
    margin-top: 0;
}

[class*="-label"]{
    background-color: orange;
    text-align: center;
    padding: 0.7rem;
}

.head-label{
    margin-top: -5.5rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    width: auto;
    border-radius: 50%;
}

[class*="-label"] > *{
    margin: 0;
    font-size: 2.2rem;
    color: #eee;
}

.none{
    display: none;
}

.grid{
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
}

.rows{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-flex;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.rows-reverse{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-flex;
    display:flex;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-flex;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.fill-container{
    width: 100%;
}

.lg-5{
    width: 5%;
}

.lg-10{
    width: 10%;
}

.lg-15{
    width: 15%;
}

.lg-20{
    width: 20%;
}

.lg-25{
    width: 25%;
}

.lg-30{
    width: 30%;
}

.lg-35{
    width: 35%;
}

.lg-40{
    width: 40%;
}

.lg-50{
    width: 50%;
}

.lg-60{
    width: 60%;
}

.lg-80{
    width: 80%;
}

.lg-90{
    width: 90%;
}

.lg-100{
    width: 100%;
}

footer{
    width: 100%;
    min-height: 10rem;
    /* border: 1px solid salmon; */
    margin-top: 3.5rem; 
    padding: 1% 2%;
    font-size: 1.2rem;
}

footer a:link{
    margin: 0.5rem 0;
    text-decoration: none;
}

footer a:link, footer a:visited{
    color: #888;
}

footer .heading{
    color: #555;
    font-size: 1.3rem;
    margin-bottom: 1.5rem; 
    font-weight: bold;
}

footer > *{
    width: 100%;
    margin: 1rem;
}

footer .links{
    margin: auto;
    width: auto;
}

footer .links > *{
    margin: 1rem; 
}

footer > *:last-child *{
    color: #888;
    justify-content: center;
}

@-webkit-keyframes blinking{
	from{
		opacity: 1;
	}
	
	to{
		opacity: 0.2;
	}
}

@keyframes blinking{
	from{
		opacity: 1;
	}
	
	to{
		opacity: 0.2;
	}
}

@-webkit-keyframes spinning{
	0%{
		transform: rotateZ(0deg);
	}
	
	25%{
		transform: rotateZ(-90deg);
	}
	
	75%{
		transform: rotateZ(-180deg);
	}
	
	90%{
		transform: rotateZ(-270deg);
	}
	
	100%{
		transform: rotateZ(-330deg);
	}
}

@keyframes spinning{
	0%{
		transform: rotateZ(0deg);
	}
	
	25%{
		transform: rotateZ(-90deg);
	}
	
	75%{
		transform: rotateZ(-180deg);
	}
	
	90%{
		transform: rotateZ(-270deg);
	}
	
	100%{
		transform: rotateZ(-330deg);
	}
}

/* For desktop users */
@media only screen and (min-width: 1100px), (min-width:320px) and (orientation: landscape){
	html{
		font-size: 62.5%;
	}
}

/* For mobile users */
@media only screen and (max-width: 1100px) and (orientation: portrait){
	html{
		font-size: 50%;
	}
}

@media only screen and (max-width:320px){
	html{
		font-size: 50%;
	}
}